# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

*.iml

modules.xml
GOPATH__beego_common_utils_.xml

misc.xml
vcs.xml

*.xls
*.xlsx
*.txt
*.zip
*.tar.gz

*.log

.history

dev.yaml
test.yaml